# Byte-compiled / cache directories
__pycache__/
*.pyc

# Generated result images and CSVs
**/linear_results/**
**/mix_results/**
**/pca/**
camera/corrected_matrix.json
camera/output_with_centers_corr.jpg
camera/snapshot.jpg
robot/args.jsonx
